.full-height {
    height: 100vh;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 27px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 24px;
}

p {
    font-size: 20px;
}

/* Color of the inactive indicators */
.carousel-indicators [data-bs-target] {
  background-color: gray;
}

/* Color of the active indicator */
.carousel-indicators .active {
  background-color: #333; /* A darker gray for the active slide */
}

#threejs-container {
    width: 100%;
    height: 280px;
}

.citation {
    display: block;
    overflow-x: auto;
    padding: .5em;
    color: #333;
    background: #f8f8f8;
    line-height: 0.2;
}

@media only screen and (max-width: 1100px) {
    #aboutHeader {text-align: center !important;}
  }
