.timeline {
    position: relative;
    padding: 2rem 0;
    overflow: hidden; /* Ensure content does not overflow */
}
.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #007bff;
    left: 50%;
    transform: translateX(-50%);
}
.timeline-item {
    position: relative;
    margin: 2rem 0;
}
.timeline-item::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #007bff;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.timeline-content {
    background: #f8f9fa;
    padding: 1rem;
    border-radius: .25rem;
    position: relative;
    width: calc(50% - 30px);
    transition: box-shadow 0.3s ease; /* Smooth transition for box shadow */
    border: 3px solid #949393; /* Grey border */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.timeline-content:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow on hover */
}
.timeline-content-left {
    left: 0;
}
.timeline-content-right {
    left: 50%;
    transform: translateX(30px);
}
@media (max-width: 768px) {
    .timeline::before {
        left: 10px;
        transform: none;
    }
    .timeline-item::before {
        left: 10px;
        transform: translateX(-50%) translateY(-50%);
    }
    .timeline-content {
        width: calc(100% - 30px);
        left: 20px !important;
        transform: none !important;
    }
}
